body{
    display: flex;
    background: black;
}

.efect h2{
    overflow: hidden;
    margin: 200px 150px;
    white-space: nowrap;
    letter-spacing: .10em;
    animation: 
        efect 1.7s steps(25, end), /* tempo para animação */
        blink-animation .5s /* velocidade da piscada */
        step-end infinite;
    color: white;
    border-right: .10em solid black; /* piscada off */
}

@keyframes efect{
    from{width: 0;}
    to{width: 30%;}
}

@keyframes blink-animation {
    from, to {border-color: transparent;}
    50% {border-color: red;} /* piscada on */
}